<!DOCTYPE html>
<html>
<head>
	<title>ChineseAudioQuiz</title>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "admin", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>
	<%= javascript_include_tag "admin" %>

</body>
</html>
